<h4 class="text-center">
    <%= pluralize(@posts.count, "result") %>
</h4>
<div class="container">
    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Post</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
            <% @posts.each_with_index do |post, index| %>
                <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= link_to post.title, post %></td>
                    <td><%= post.body.to_plain_text.truncate_words(25) %></td>
                    <td><%= link_to post.user.name, post.user %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
</div>